<ion-view title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background">
  <ion-content>
  	<div id="goal" class="list login-form">
  		<div class="header-goal">
	  		<img src="img/icon-account.png" class="icon-goal">
	  		<h1>Account</h1>	  		
  		</div>
  		<p>Ben Adams</p>
  		<span class="ion-android-contact" data-pack="default"></span>  		
		<div style="height: 15px;"></div>
		<p>ben_adams@gmail.com</p>
  		<span class="ion-email" data-pack="default"></span>  		
		<div style="height: 15px;"></div>
		<p>xxxxx</p>
		<span class="ion-lock-combination" data-pack="default"></span>
		<div style="height: 15px;"></div>
		<p>March 11, 1988</p>
		<span class="ion-egg" data-pack="default"></span>
		<div style="height: 15px;"></div>
		<button class="button button-energized">
	  		Edit your Account
		</button>
  	</div>
  </ion-content>
</ion-view>
