<ion-view view-title="Monthly Budget">
    <ion-header-bar class="bar-subheader has-header-tabs item-input-inset">
		<div class="total-budget">				
            <span class="ion-card" data-pack="default"></span>
            <p>Income: {{income | currency: 'P'}}</p>
        </div>
        <div class="total-savings">				
            <span data-pack="default"></span>
            <p ng-class="{'error': remaining < goal.targetPerMonth}">You Save: 
                <b>{{remaining | currency: 'P'}}</b>
            </p>
        </div>
	</ion-header-bar>
    <ion-content class="has-header has-subheader">
        <div id="goal" class="budget-range">
            <div class="list {{e.id}} clearfix" ng-repeat="e in expenses track by $index" style="position: relative;">
                <div class="item  item-devider" style="width: 100%;">
                    <i class="icon {{e.icon}}"></i>
                    <i>{{e.name}}</i>
                </div>
                <div class="item range range-positive" style="width: 70%; float: left; posito">
                    <input type="range" ng-change="saveSliderData(e)" name="volume" min="0" max="{{getMaxRange(e.id)}}" ng-model="e.value"/>
                </div>
                <label class="{{e.id}} item item-input" style="float: left; width: 30%; margin-border: 0px; padding-bottom:14px; color: white !important;">
                    <input type="text" ng-change="saveSliderData(e)" ng-model="e.value" max="{{getMaxRange(e.id)}}" size="5" style="width: 20%; float: left;"/>
                </label>
            </div>
            <div class="target-savings">
                <p>Total Expenses:</p>
                <p class="number">40,000</p>
            </div>
            <div class="target-savings">
                <p>You need to save:</p>
                <p class="number">{{goal.targetPerMonth | currency: 'P'}}/month</p>
                <p class="number">{{goal.targetPerDay | currency: 'P'}}/day</p>
            </div>
        </div>
    </ion-content>
</ion-view>