<ion-view title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background">
<!--<ion-view view-title="Goal">-->
  <ion-content>
  	<form ng-submit="formSubmit(goal)">
  		<div id="goal" class="list login-form">
	  		<div class="header-goal">
		  		<img src="img/icon-goal.png" class="icon-goal">
		  		<h1>Set your Goal</h1>	  		
	  		</div>
	        <p>Monthly Income</p>
			<span class="ion-card" data-pack="default"></span>
			<label class="item item-input" ng-class="">
				<input type="number" placeholder="P" ng-model="goal.income">
			</label>
			<div style="height: 15px;"></div>
	  		<p>Target Savings</p>
	  		<span class="ion-cash" data-pack="default"></span>
	  		<label class="item item-input">  			
				<input type="number" placeholder="P" ng-model="goal.targetAmount">
			</label>
			<div style="height: 15px;">
				<label class="input-warning" ng-if="goal.income < goal.targetAmount">
					Income must be greater than savings
				</label>
			</div>
			<p>Target Date</p>
			<span class="ion-ios-calendar" data-pack="default" ></span>
			<label class="item item-input">
				<input type="date" placeholder="" ng-model="goal.targetDate">
			</label>
			<div style="height: 15px;"></div>
			<p>Category</p>
			<span class="ion-heart" data-pack="default"></span>
			<select ng-options="cat as cat for cat in categories" ng-model="goal.category" 
			class="item item-input" ng-if="goal.category !== 'Others'" ng-change="watchCategory()">
			</select>
			<div style="height: 15px;"></div>
			<button type="submit" class="button button-energized">
		  		Go budgettr!
			</button>
	  	</div>
  	</form>
  </ion-content>
</ion-view>
