<ion-view title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background"> <!--hide-nav-bar="true-->
  <ion-content id="bg-login">
   	<img src="img/logo.png" class="logo">

	<div class="list login-form">
		<label class="item item-input">
			<input type="text" placeholder="Username" ng-model="username">
		</label>
		<div style="height: 15px;"></div>
		<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="password">
		</label>
		<div style="height: 15px;"></div>
		<button class="button button-balanced btn-login" ng-click="login()">
	  		Login
		</button>
		<button class="button button-energized btn-register">
	  		Register
		</button>
	</div>
  </ion-content>
</ion-view>
	