<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>
      <div id="avatar">
        <img src="img/ben.png">
        <h1>Ben</h1>
      </div>

      <ion-list>
        <ion-item menu-close href="#/app/budgettr">
          <span class="ion-cash" data-pack="default"></span>  
          Budgettr
        </ion-item>
        <ion-item menu-close href="#/app/account">
          <span class="ion-android-contact" data-pack="default"></span>
          Account
        </ion-item>
        <ion-item menu-close href="#/app/goal">
          <span class="ion-trophy" data-pack="default"></span>
          Goal
        </ion-item>
        <ion-item menu-close href="#/app/savings">
          <span class="ion-star" data-pack="default"></span>
          Savings
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <span class="ion-ios-redo" data-pack="default"></span>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
