<ion-view view-title="Savings">
	<ion-content>
		<div id="goal" class="list login-form">
	  		<p>
	  			Target Savings: <span style="color: #00D863;">&nbsp;{{goal.targetAmount | currency: 'P'}}</span>
	  		</p>
	        <p>
                Target Date: <span style="color: #00D863;">&nbsp;{{goal.targetDate | date: 'M/dd/yyyy'}}</span>
	        </p>
			<div style="height: 15px;"></div>
			<p>
                Your Current Savings: <span style="color: #00D863;"> {{goal.currentSavings | currency: 'P'}}</span>
	  		</p>
	  		<div style="height: 15px;"></div>
	        <p>
	        	You Need To Save
	        </p>
	        <p>
	        	<span style="color: #00D863; float: left;">P5,000</span> per month
	        </p>
	        <div style="height: 15px;"></div>
			<p>
	  			If You Save
	  		</p>
	  		<div class="clearfix">
	  			<label class="item item-input" style="width: 40% !important; float: left;">
					<input type="number" placeholder="P" ng-model="saving.amount">
				</label>
				<span style="float: left; position: relative; width: 20%; text-align: center; margin: 0px; line-height: 40px;"> per </span>
				<label class="item item-input" style="width: 40% !important; float: left;">
					<select ng-model="saving.duration" class="item item-input">
                        <option value="m">Month</option>
                        <option value="d">Day</option>
                    </select>
				</label>
	  		</div>
	  		<div style="height: 15px;"></div>
			<p>
	  			You Will Reach Your Target On:                
	  		</p>
            <div ng-if="saving.maturityDate" style="color: #00D863; font-weight: bold; font-size: 30px">
                {{saving.maturityDate | date: 'M/dd/yyyy'}}
            </div>
	  		<div style="height: 15px;"></div>
            
            <div class="error" ng-if="errmsg">
                {{errmsg}}
            </div>
            
            <button type="submit" ng-disabled="saving.amount == 0" class="button button-energized" ng-click="calculate()">
		  		Calculate!
			</button>
	  	</div>
	</ion-content>
</ion-view>