@font-face {
	font-family: 'banda';
	src: url('banda.eot');
	src: local('☺'), url('banda.woff') format('woff'), url('banda.ttf') format('truetype'), url('banda.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

