/* Empty. Add your own CSS if you like */
body {
	background: #0e81b7 !important;
	font-family: 'banda', Arial;
}

#bg-login {
	background: url('../img/bg-login.jpg') center bottom no-repeat;
	background-size: cover;
}

.logo {
	width: 100%;
	padding: 30% 20% 0 20%;
	margin: 0 auto;
}

ion-view {
	background: #0e81b7 !important;
}

.login-form {
	padding: 10% 10% 20% 10%;
}

.item-input {
	border-radius: 4px;
}

.btn-login {
	width: 49%;
}

.btn-register {
	width: 49%;
	float: right;
}

#goal .header-goal {
	margin-bottom: 20px;
	text-align: center;
}

#goal .icon-goal {
	margin-right: 7px;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}

#goal h1 {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 3em;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-family: 'banda', Arial;
	letter-spacing: -2px;
	font-weight: bold;

}

#goal p {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 1.5em;
	color: #fff;
	text-align: left;
}

#goal button {
	margin-top: 20px;
	width: 100%;
	font-size: 2em;
	height: 70px;
	font-family: 'banda', Arial;
	letter-spacing: -2px;
	color: #935400;
	font-weight: bold;
}

#goal span {	
	margin-right: 5px;
	display: inline-block;
	float: right;
	font-size: 30px;
	color: #3dbaf4;
	vertical-align: middle;
	text-align: right;
}

#goal select {
	/*padding: 30px 20px;*/
	width: 100%;
	background: #fff;
	display: block;
	padding-left: 0;
	height: 47px;
	color: #111;
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
}

#goal.budget-range label {
	margin: 0;
	padding: 0;	
	border: 0 !important;
	border-radius: 0;
	margin: 0 !important;
}

#goal.budget-range input[type="text"]{
	color: #fff;
	font-family: 'banda', Arial;
	font-size: 22px;
}

/* Header */
.bar.bar-stable {
	height: 50px;
	background: #076c9c;
	border-color: #076c9c;	
}

.bar.bar-stable .title {
	padding: 4px 0;
	color: #fff;
	font-size: 22px;
	color: #fff !important;
}

.bar-stable .button.button-clear {
	color: #fff;
}

.bar-stable .button.button-clear {
	background: #065377;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: #7bd5ff;
}

.bar.bar-stable .title img {
	margin: 7px 0;
	height: 30px;
}

/* Tabs */
ion-side-menu.menu.menu-left {
	background: #01628f;
}

ion-side-menu a.item-content { 
	background-color: #01628f !important;
	border-color: #1395d2 !important; 
	color: #fff;
}

ion-side-menu .item {
	background-color: #01628f !important;
	border-color: #1395d2 !important; 
	color: #fff;
}

ion-side-menu ion-list {
	margin-top: 20px;
}

ion-side-menu .item.activated { 
	background-color: #27acea !important;
	border-color: #1395d2 !important;
	color: #fff;
}

#avatar img {
	margin: 30px auto 10px;
	display: block;
	border-radius: 50%;
	border: 8px solid #0971a2;
	width: 40%;
}

#avatar h1 {
	width: auto;
	margin: 0 auto 20px;
	text-align: center;
	color: #fff;
	font-family: 'banda', Arial;
}

/* Dashboard */
.total-budget {
	padding: 10px 20px 5px;
	float: left;
}

.total-budget p {
	margin-top: 5px;
	float: left !important;
}

.total-budget span {
	float: left !important;
}

.total-savings p {
	margin-top: 5px;
	float: right !important
}

.total-savings {
	padding: 10px 20px 5px;
	float: right;
}

.total-savings span {
	margin-left: 10px;
	float: right !important;
}

#goal.budget-range .list {
	color: #fff;
	padding-bottom: 0;
	margin-bottom: 0;
}

#goal.budget-range .range input {
	margin-top: 0;
	padding: 0;
}

#goal.budget-range .list .item {
	padding: 7px 20px 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 0;
	border-bottom: none;
	border-top: none;
    border-right: 0px;
}

#goal.budget-range .icon {
	font-size: 18px;
}

#goal.budget-range .list .item h2 {
	font-family: 'banda', Arial;
	color: #fff;
}

#goal.budget-range .list.food .item {
	background-color: #ff006c !important;
}

#goal.budget-range .list.transpo .item {
	background-color: #e34e98 !important;
}

#goal.budget-range .list.rent .item {
	background-color: #ff9100 !important;
}

#goal.budget-range .list.electricity .item {
	background-color: #15dad3 !important;
}

#goal.budget-range .list.water .item {
	background-color: #00d863 !important;
}

#goal.budget-range .list.comm .item {
	background-color: #3c4fde !important;
}

#goal.budget-range .list.others .item {
	background-color: #ae3cde !important;
}

.input-warning {
	color: red;
	font-size: 12px;
}

.target-savings {
	padding: 10px 20px 0;
}

.target-savings p {
	margin-bottom: 0 !important;
}

.target-savings .number {
	float: right;
	font-weight: bold;
}

.total-savings span{
    margin: 0;
}

.error{
    color: #a94442;
    font-weight: bold;
    font-size: 16px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

.bar-subheader {
	padding-top: 20px;
	background: #0e81b7;
	color: #fff;
	font-size: 18px;
	border: none;
}

.bar-subheader span {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 5px;
}
